<center>
<div class="loginWrap">
  <h2 class="text-center">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
   
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => 'Email', :class=>"form-control", :required => 'true' %>
  
<br>
 
      <%= f.password_field :password, autocomplete: "current-password", :placeholder => 'Password', :class=>"form-control", :required => 'true'  %>


    <br>

      <%= f.submit "Log in", :class=> 'btn btn-primary' %>

  <% end %>
</div>
</center>
<style>
.bodyWrap{
  width:90%;
}
</style>